body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 
    sans-serif;
  background: linear-gradient(to bottom, #a0c4ff, #375a7f); 
  min-height: 100vh;  
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1;
}
